<%= form_with(model: interview) do |form| %>
  <% if interview.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(interview.errors.count, "error") %> prohibited this interview from being saved:</h2>

      <ul>
        <% interview.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-2">
    <%= form.label :interveiw_on, style: "display: block", class: 'form-label' %>
    <%= form.date_field :interveiw_on, class: 'form-control' %>
  </div>

  <div class="col-md-2">
    <%= form.label :employee_name, style: "display: block", class: 'form-label' %>
    <%= form.text_field :employee_name, class: 'form-control' %>
  </div>

  <div class="col-md-2">
    <%= form.label :docter_name, style: "display: block", class: 'form-label' %>
    <%= form.text_field :docter_name, class: 'form-control' %>
  </div>

  <div class="col-md-4">
    <%= form.label :contents, style: "display: block", class: 'form-label' %>
    <%= form.text_field :contents, class: 'form-control' %>
  </div>

  <div>
    <%= form.submit nil, class: 'btn btn-primary mt-2' %>
  </div>
<% end %>
