<div id="<%= dom_id interview %>">
  <p>
    <strong>Interveiw on:</strong>
    <%= interview.interveiw_on %>
  </p>

  <p>
    <strong>Employee name:</strong>
    <%= interview.employee_name %>
  </p>

  <p>
    <strong>Docter name:</strong>
    <%= interview.docter_name %>
  </p>

  <p>
    <strong>Contents:</strong>
    <%= interview.contents %>
  </p>

</div>
