<p style="color: green"><%= notice %></p>

<h1>Interviews</h1>

<div id="interviews">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Interview On</th>
        <th scope="col">Employee Name</th>
        <th scope="col">Doctor Name</th>
        <th scope="col">Work Situation</th>
        <th scope="col">Fatigue Accumulation</th>
        <th scope="col">Mental And Physical Condition</th>
        <th scope="col">Guidance Kbn</th>
        <th scope="col">Note</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @interviews.each do |interview| %>
        <tr id="<%= dom_id interview %>">
          <th scope="row"><%= interview.id %></th>
          <td><%= interview.interveiw_on %></td>
          <td><%= interview.employee_name %></td>
          <td><%= interview.docter_name %></td>
          <td><%= interview.work_situation %></td>
          <td><%= interview.fatigue_accumulation %></td>
          <td><%= interview.mental_and_physical_condition ? '所見あり' : '所見なし' %></td>
          <td><%= interview.guidance_kbn.map { |guidance_kbn| Interview::GUIDANCE_KBN_NAME[guidance_kbn] }.join('、') %></td>
          <td><%= interview.note %></td>
          <td><%= link_to "Show this interview", interview, class: 'btn btn-primary' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New interview", new_interview_path, class: 'btn btn-primary' %>
